%h1 Flowcharts

%table.table
  %thead
    %tr
      %th Chart
      %th Description
    %tr
      %td= link_to 'Diabetes Flowchart',flowchart_diabetes_path
      %td Shows measurements related to controlling diabetes
    %tr
      %td= link_to 'Kidney Function',flowchart_kidney_path
      %td Not sure
    %tr
      %td= link_to 'Vitals Check',flowchart_vitals_path
      %td Not Sure
    %tr
      %td= link_to 'Anticoagulation Chart',flowchart_anticoagulation_path
      %td Not Sure
    %tr
      %td= link_to 'Asthma Chart',flowchart_asthma_path
      %td Not Sure

  