%h2 Medications
%h3 Current Medications
%table.table.table-striped
  %thead
    %tr
      %th Start Date
      %th Doctor
      %th Medication
      %th Medical Condition
      %th Dosage
    -@medications.each do |medication|
      %tr
        %td
          = medication.start_date
        %td
          = medication.medical_condition.try(:doctor).try(:name)
        %td
          = medication.name
        %td
          = medication.medical_condition.try(:name)
        %td
          = medication.result
        %td
%button Drug Interaction