%h2{"ng-init"=>"interactions = #{@interactions}"} Medications
%h3 Current Medication
%table.table.table-striped
  %thead
    %tr
      %th Start Date
      %th Doctor
      %th Medication
      %th Medical Condition
      %th Dosage
      %th Drug Interactions
    -@medications.each do |medication|
      %tr
        %td
          = medication.start_date
        %td
          = medication.medical_condition.try(:doctor).try(:name)
        %td
          = medication.medicine.name
        %td
          = medication.medical_condition.try(:name)
        %td
          = medication.dosage
        %td
          = link_to 'View',interaction_path(medicine_id: medication.medicine_id)
%select{'ng-model' => 'drug', 'ng-options' => 'interaction.interaction for interaction in interactions'} 
%a{"ng-click" => "viewInteractions(drug)", href: "", class: "btn-primary"}View Interactions

%h3 Past Medication History
%table.table.table-striped
  %thead
    %tr
      %th Start Date
      %th Doctor
      %th Medication
      %th Medical Condition
      %th Dosage
      %th Drug Interactions
    -@past_medications.each do |past|
      %tr
        %td
          = past.start_date
        %td
          = past.medical_condition.try(:doctor).try(:name)
        %td
          = past.medicine.name
        %td
          = past.medical_condition.try(:name)
        %td
          = past.dosage
        %td
          = link_to 'View',interaction_path(medicine_id: past.medicine_id)