%ul.nav.nav-sidebar
  %li.active= link_to 'General Information', root_path
  %li
    = link_to 'Flowcharts', flowchart_path
    %ul
      %li= link_to 'Diabetes Flowchart', flowchart_diabetes_path
      %li= link_to 'Kidney Function', flowchart_kidney_path
      %li= link_to 'Vitals Check', flowchart_vitals_path
      %li= link_to 'Anticoagulation Chart', flowchart_anticoagulation_path
      %li= link_to 'Asthma Chart', flowchart_asthma_path     
  %li= link_to 'Medication Reconciliation', medication_path 
  %li= link_to 'Patient Instructions Summary', instructions_path
  %li= link_to 'Notes', notes_path
