%ul.nav.nav-sidebar
  %li.active= link_to 'General Information', root_path
  %li
    = link_to 'Specialist Dashboards', dashboard_path
    %ul
      %li= link_to 'Diabetes Dashboard', dashboard_diabetes_path
      %li= link_to 'Kidney Function Dashboard', dashboard_kidney_path
      %li= link_to 'Vitals Dashboard', dashboard_vitals_path
      %li= link_to 'Anticoagulation Dashboard', dashboard_anticoagulation_path
      %li= link_to 'Asthma Dashboard', dashboard_asthma_path     
  %li= link_to 'Medication Reconciliation', medication_path 
  %li= link_to 'Patient Instructions Summary', instructions_path
  %li= link_to 'Notes', notes_path
