%ul.nav.nav-sidebar
  %li.active= link_to 'General', root_path
  %li
    = link_to 'Flowcharts', flowchart_path
    %ul
      %li= link_to 'Anticoagulation Chart', flowchart_path
      %li= link_to 'Asthma Chart', flowchart_path
      %li= link_to 'Diabetes Chart', flowchart_diabetes_path
      %li= link_to 'Health Maintenance', flowchart_path
      %li= link_to 'Vitals Check', flowchart_path
  %li= link_to 'Medical History'
  %li= link_to 'Visit History'
  %li= link_to 'Medications'
  %li= link_to 'Treatment Plan'
  %li= link_to 'Test Results'
