%h1.page-header
  Patient Record for 
  = @patient.name

%h5 
  Gender: 
  = @patient.gender
%h5
  Patient ID:
  = @patient.id
%h5 
  Age: 
  = @patient.age
%h5
  Height:
  = @patient.height
%h5
  Weight:
  = @patient.weight
%h5
  Notices:
  * Due for Flu Vaccine


%h2 Current Medical Conditions
%table.table.table-striped
  %thead
    %tr
      %th Condition
      %th Doctor
    -@patient.medical_conditions.each do |condition|
      %tr
        %td
          = condition.name
        %td
          = condition.doctor.name

%h2 Current Allergies
%table.table.table-striped
  %thead
    %tr
      %th Allergy
      %th Symptoms
    -@patient.allergies.each do |allergy|
      %tr
        %td
          = allergy.name
        %td
          = allergy.symptoms

%h2 Lab Tests
%table.table.table-striped
  %thead
    %tr
      %th Date
      %th Name
      %th Result
    -@lab_tests.each do |test|
      %tr
        %td
          = test.start_date
        %td
          = test.name
        %td
          = test.result

= render 'visits/visit'

%h2 Social History
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Start Date
      %th End Date
    -@patient.social_histories.each do |history|
      %tr
        %td
          = history.name
        %td
          = history.start_date
        %td
          = history.end_date
