%h1.page-header{"ng-controller" => "homeController"}
  Patient Record for 
  = @patient.name

%h5 
  Gender: 
  = @patient.gender
%h5
  Patient ID:
  = @patient.id
%h5 
  Age: 
  = @patient.age
%h5
  Height:
  = @patient.height
%h5
  Weight:
  = @patient.weight
%h5
  Notices:
  * Due for Flu Vaccine


%h3 Current Medical Conditions
%table.table.table-striped
  %thead
    %tr
      %th Condition
      %th Doctor
      %th View Dashboard
    -@patient.medical_conditions.each do |condition|
      %tr
        %td
          = condition.name
        %td
          = link_to condition.doctor.name, doctor_path(condition.doctor)
        %td
          = link_to 'View Dashboard', dashboard_path(condition.name)


%h3 Current Allergies
%table.table.table-striped
  %thead
    %tr
      %th Allergy
      %th Symptoms
    -if @patient.allergies.size > 0 
      -@patient.allergies.each do |allergy|
        %tr
          %td
            = allergy.name
          %td
            = allergy.symptoms
    -else
      %tr
        %td None
            
        %td None
=link_to 'Add Allergy', root_path, {class: 'btn btn-primary'}
           

%h3 Lab Tests
%table.table.table-striped
  %thead
    %tr
      %th Date
      %th Name
      %th Result
    -@lab_tests.each do |test|
      %tr
        %td
          = test.start_date
        %td
          = test.name
        %td
          = test.result
=link_to 'View All', lab_tests_path, {class: 'btn btn-primary'}
=link_to 'Add Lab Test', new_lab_test_path, {class: 'btn btn-primary'}

= render 'visits/visit'
=link_to 'View All', visits_path, {class: 'btn btn-primary'}

%h3 Social History
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Start Date
      %th End Date
    -@patient.social_histories.each do |history|
      %tr
        %td
          = history.name
        %td
          = history.start_date
        %td
          = history.end_date
