%h1 Add a Lab Test

= simple_form_for(@lab_test, html: {class: 'form-vertical' }) do |f|
  = f.input :start_date
  = f.input :name
  = f.input :result
  = f.input :value
  = f.input :units
  = f.input :description
  = f.input :long_name
  = f.association :medical_condition, collection: @patient.medical_conditions
  = f.submit 'Save', :class => 'btn btn-primary'
  = link_to 'Cancel', lab_tests_path, :class => 'btn'
