%h1= "Visit Summary for #{@patient.name}"
%b Age:
=@patient.age

%b Visit Date: 
= @visit.visit_date
%b Reason: 
= @visit.chief_complaint
%p= "Based on your visit today with #{@visit.doctor.name}, the following was recommended."
%li Schedule a follow up appointment in 3 months
%li Increase your Metformin 500 mg to thrice a day
%li Your A1C goal is to be less than 7.0
%p
%p Please sign up for our Patient Portal that’ll let you send / receive messages to us. You can also schedule appointments, see lab results, medications, shot records and other pertinent information.
%p
%b Discontinued medications: 
Nasonex 20 mg, Januvia 50 mg, Onglyza 20 mg
%p 
%b New Prescriptions: 
None
%p
%b All medications: 
Metformin 500 mg, Lipitor 20 mg, Dopamin HCL
%p
%b Updated Allergies: 
None
%p
%b Problems assisted at this visit: 
No new problems.

%p
%h3 Vital Signs:
%table.table
  %thead
    %tr
      %td Height:
      %td=@visit.height
    %tr
      %td Weight
      %td=@visit.weight
    %tr
      %td BMI:
      %td=@visit.bmi
    %tr
      %td BP:
      %td=@visit.blood_pressure
    %tr
      %td Pulse:
      %td= "#{@visit.pulse} bpm"
    %tr
      %td Temperature:
      %td 98.6F

%h3 Preventive Screening:
%table.table
  %thead
    %tr
      %th Screening
      %th Last Date
      %th Due Date
    %tr
      %td Flu Shot
      %td 01/25/2014
      %td Fall 2015
    %tr
      %td Pneumonia vaccine 
      %td 10/5/2012
      %td n/a
    %tr
      %td Tetanus shot
      %td 5/12/2012
      %td 5/12/2022
    %tr
      %td Mammogram
      %td 8/10/2013
      %td 8/10/2014
    %tr
      %td Colonoscopy
      %td
      %td 10/01/2018
    %tr
      %td Pap Smear
      %td
      %td 10/01/2014
    %tr
      %td Bone Density
      %td 
      %td Fall 2014

%h3= "Notes from #{@visit.doctor.name}"
-@patient.notes.each do |note|
  %b
    = note.note_date
  %p
    = note.note
