%h1 Dashboards

%table.table
  %thead
    %tr
      %th Dashboard
      %th Description
    %tr
      %td= link_to 'Diabetes Dashboard',dashboard_diabetes_path
      %td Shows measurements related to controlling diabetes
    %tr
      %td= link_to 'Kidney Function Dashboard',dashboard_kidney_path
      %td Shows measurements related to Kidney function
    %tr
      %td= link_to 'Vitals Dashboard',dashboard_vitals_path
      %td Shows measurements related to Overall Health
    %tr
      %td= link_to 'Anticoagulation Dashboard',dashboard_anticoagulation_path
      %td Shows measurements related to Anticoagulation
    %tr
      %td= link_to 'Bronchitis Dashboard',dashboard_bronchitis_path
      %td Shows measurements related to Bronchitis

  