%h3 Vitals Details
%table.table.table-striped
  %thead
    %tr
      %th
      -@vitals.each do |v|
        
        %th 
          = v.visit_date
    %tr
      %td Height
      -@vitals.each do |v|
        %td
          = v.height

    %tr
      %td Weight
      -@vitals.each do |v|
        %td
          = v.weight

    %tr
      %td BMI
      -@vitals.each do |v|
        %td
          = number_with_precision(v.bmi, precision: 2)

    %tr
      %td Pulse
      -@vitals.each do |v|
        %td
          = v.pulse
    %tr
      %td Excercise
      -@vitals.each do |v|
        %td
          = v.exercise
    %tr
      %td Smoker
      -@vitals.each do |v|
        %td
          = v.smoking
    %tr
      %td Alcoholic Intake
      -@vitals.each do |v|
        %td
          = v.alcohol_intake
    
    

          